@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);

    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);

    --fs-main: 32px;
    --fs-praimary: 16px;
    --fs-seconary: 24px;

}


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Inter";
    margin: 0;
    background-color: var(--Grey800);
    color: var(--White);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    overflow-wrap: break-word;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}
