
:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);

    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);

    --fs-main: 32px;
    --fs-praimary: 16px;
    --fs-seconary: 24px;

}


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    margin: 0;
    background-color: var(--Grey800);
}

h1,
h2,
h3 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}
