@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);

    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);

    --fs-main: 32px;
    --fs-praimary: 16px;
    --fs-seconary: 24px;

}


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Inter";
    margin: 0;
    background-color: var(--Grey900);
    color: var(--White);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    overflow-wrap: break-word;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}


.social-container{
    display: flex;
    flex-direction: column;
    width: 384px;
    height: 611px;
    background-color: var(--Grey800);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    line-height: 1.5;
    border-radius: 10px;
    text-align: center;
}


.social-heading img {
    margin: 0 auto;
    border-radius: 50%;
    width: 88px;
    margin-bottom: 24px;
}

.social-heading h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}

.social-heading .location {
    color: var(--Green);
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 24px;
}

.social-heading p {
    font-weight: 400;
    font-size: 14px;
}


.social-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li a {
    text-decoration: none;
    font-weight: 700;
    display: block;
    padding: 12px;
    background-color: var(--Grey700);
    border-radius: 8px;
    gap: 16px;
    margin-top: 16px;
    color: var(--White);
}

.social-links li a:hover {
    background-color: var(--Green);
    color: var(--Grey900);
}

.footer {
    position: absolute;
    /* bottom: 90px; */
    display: flex;
    font-size: 11px;
    color: var(--white);
    text-align: center;
    /* justify-content: center; */
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    /* padding-bottom: 20px; */
}

.footer a {
    color: var(--Green);
}
